* {
  box-sizing: border-box;
}

#container {
  background-image: url("../../assets/backgroundimage.jpg");
  width: 100vw;
  margin: auto;
  position: absolute;
  top:0;bottom:0; /* vertical center */
  left:0;right:0; /* horizontal center */
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

#container .messagediv {
  background-color: rgba(153, 24, 20, 0.69);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  color: white;
  border-radius: 25px;
  margin-left: 10%;
  width: 80%;
  position: absolute;
}

#container .card {
  margin: 5px;
  margin-top: 30px;
  transition: all 1s;
}

.choosen-card {
  margin: 5px;
  margin-bottom: 30px;
  /*border: solid black;*/
}


#container .buttons {
  margin-left: 40%;
  margin-top: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 25px;
  width: 20%;
}

button {
  width: 100%;
  appearance: none;
  background-color: #9e3417dc;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

