.App {
  text-align: center;
}

body {
  margin: 0 !important;
  overflow: hidden;
}

.RoomMaker {
  background-image: url("assets/backgroundimage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.RoomMaker p {
  margin: 0 !important;
}

.RoomMaker input {
  color: #c0bfbf;
  border-radius: 10px;
  font-size: x-large;
  background-color: rgba(0, 0, 0, 0.43);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.RoomMaker input:focus {
  color: #ffffff;
  background-color: rgba(212, 210, 210, 0.43);
}

.RoomMaker button {
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: rgba(255, 0, 0, 0.708);
  font-size: larger;
  width: 200px;
  color: yellow;
  cursor: pointer;
}

.RoomMaker .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RoomMaker .menu {
  background-color: rgba(10, 10, 10, 0.838);
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.Rotate {
  background-image: url("assets/backgroundimage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Rotate img{
  width: 300px;
  height: 300px;
}
.Rotate .rotetecard{
  height: 300px;
  margin: 14px;
  color: #000000;
  background-color: rgba(234, 187, 187, 0.27);
  border-radius: 10px;
}

.rotetecard .content {
  margin: 15px;
}


.WaitingRoom {
  background-image: url("assets/backgroundimage.jpg");
  font-size: 200%;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.WaitingRoom input {
  color: #c0bfbf;
  border-radius: 10px;
  font-size: x-large;
  background-color: rgba(0, 0, 0, 0.43);
  margin-left: auto;
  margin-right: auto;
  margin: 15px;
}

.WaitingRoom input:focus {
  color: #fd9d5e;
  background-color: rgba(170, 170, 170, 0.43);
}

.WaitingRoom .playerlist {
  display: flex;
  flex-direction: column;
  margin: 15px;
  color: #ffd77b;
  font-weight: bold;
}

.Markets .row-1{
  border-radius: 10px;
  background-color: #e8f2f8a7;
}

.saveNameButton {
  align-items: center;
  background-image: linear-gradient(135deg, #f34040, #ec930c);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 15px;
}

.WaitingRoom .newGameButton {
  margin: 15px;
  background-image: linear-gradient(135deg, #21c932bd, #3a19e097);
  padding: 10px;
  border-radius: 10px;
  border-color: rgba(255, 255, 255, 0.115);
  color: white;

}

.saveNameButton:active {
  outline: 0;
}

.saveNameButton:hover {
  outline: 0;
}

.saveNameButton span {
  transition: all 200ms;
}

.saveNameButton:hover span {
  transform: scale(.9);
  opacity: .75;
}

.copyButton {
  margin: 15px;
  background-image: linear-gradient(135deg, #ffdd0097, #ffb30097);

}

.roomcode {
  color: #fff;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.43);
  border-radius: 4px;
  cursor: pointer;

}
.playerName{
  color: #fff;
  font-weight: bold;
  margin-left: 2px;
  margin-right: 2px;
}

.playerdata{
  display: flex;
  flex-direction: row;
}

.WaitingRoomCards {
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textmiddlecard {
  height: 300px;
  margin: 14px;
  color: #ffffff;
  background-color: rgba(45, 1, 1, 0.684);
  border-radius: 10px;
}

.textmiddlecard .content {
  margin: 15px;
}

.flex {
  margin-top: 10px;
  display: flex;
}

.wrong {
  display: flex;
}

/* .playersWaiting{
  display: flex;
  flex-direction: column; 
} */

/* WaitingRoom end*/

.main-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.row-1 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.row-2 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.row-3 {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
